


<link rel="stylesheet" href="/css/header.css">
  <!-- HEADER PART FOR HOME PAGE -->
<header>
    <div id="header-container">
        <div id="page-name">
            <h3>Work is Key to Success</h3>
        </div> 
        <div id="sign-container">
               <div class="pageLinks" id="SignIn">
                Sign In
               </div> 
               <div class="pageLinks" id="SignUp">
                Sign Up
               </div> 
        </div>
    </div>
</header>
<script src="/js/header.js"></script>