<!-- LINKING WITH CSS FILES -->
<link rel="stylesheet" href="/css/headerPart.css"> 
<!-- HEADER PART OF ADMIN AND EMPLOYEE PAGE -->
<header>
    <div id="outerPart">
      <h3><%=user.UserName%></h3>
      <div id="innerPart">
        <h3><%=user.Email%></h3>
        <h3><a href="/home/logout" id="lgt">logout</a></h3>
      </div>
    </div>
</header>