
<!-- LINKING WITH STYALE SHEETS -->
<link rel="stylesheet" type="text/css" href="/css/home.css">
<div id="home_container">
    <%- include('./_header.ejs')%>
    <h1>Welcome to HiFi-Company </h1>
    <div id="outer">

    </div>
</div>
<!-- LINKING WITH JS FILE -->
<script src="/js/home.js"></script>
